body{
   padding: 20px;
   overflow-x: hidden;
}
.principal{
    width:97% ;
    height:auto;
    padding: 20px;
    text-align: center;
}

.font-style{
    border-bottom: 2px solid lightgray;
    font-size: 3rem;
    font-family: 'Single Day', cursive;
    padding-bottom: 15px;
}
.font-style02{
    font-size: 1.8rem;
    color:darkgrey
}

.div-calculos{
    background-color: lightgray;
}