body{
   padding: 20px;
   overflow-x: hidden;
}
.principal{
    width:97% ;
    height:auto;
    padding: 20px;
    text-align: center;
}

.font-style{
    border-bottom: 2px solid lightgray;
    font-size: 3rem;
    font-family: 'Single Day', cursive;
    padding-bottom: 15px;
}
.font-style02{
    font-size: 1.8rem;
    color:darkgrey
}

.div-calculos{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.wrap-input-label{
    display: flex;
    flex-direction: column;
   
}

.filhas{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
}

button {
    background-color: rgb(73, 133, 180);
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    opacity: 0.8;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 1;
    cursor: pointer;
    color: #ffffff;
}